.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.bentoSpace {
  width: 80%;
  height: 100%;
  background-color: rgb(249, 179, 179);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sidebar {
  width: 20%;
  height: 100%;
  background-color: rgb(200, 200, 255);
}
