.draggable {
  position: relative;
  width: 70px;
  height: 70px;
  background-color: rgb(245, 255, 203);
  display: flex;
  justify-content: center;
  align-items: center;
}

.draggable:hover {
  cursor: move;
}
