.border {
  position: absolute;
}

.top:hover {
  cursor: n-resize;
}

.right:hover {
  cursor: e-resize;
}

.bottom:hover {
  cursor: s-resize;
}

.left:hover {
  cursor: w-resize;
}

/* increase the size of the border to make it easier to grab */

.border::before {
  content: "";
  position: absolute;
  /* uncomment this to see the enlarged boxes */
  /* border: 1px solid green; */
}

.top::before {
  width: calc(100% - 2px); /** subtract 2x the border width of container */
  height: 100%;
  top: -100%;
}

.right::before {
  width: 100%;
  height: calc(100% - 2px); /** subtract 2x the border width of container */
  right: -100%;
}

.bottom::before {
  width: calc(100% - 2px); /** subtract 2x the border width of container */
  height: 100%;
  bottom: -100%;
}

.left::before {
  width: 100%;
  height: calc(100% - 2px); /** subtract 2x the border width of container */
  left: -100%;
}
