.container {
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-grow: 1;
}

.side {
  flex-basis: 40%;
  min-width: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 1;

  transition: flex-basis 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);

  /* background-color: lightblue; */
}

.bento {
  flex-basis: 60%;
  min-width: 0;
  padding: 30px calc(10% - 3px);
  display: flex;
  flex-direction: column;
  justify-content: center;

  transition: flex-basis 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);

  /* background-color: lightgreen; */
}

.side60 {
  flex-basis: 60%;
}

.bento40 {
  flex-basis: 40%;
}

.actionButtons {
  flex-basis: 12vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  padding: 30px 1.2vw;
  z-index: 1;

  /* background-color: pink; */
}

.actionContainer {
  flex-basis: 70%;
  width: 100%;

  /* background-color: lightyellow; */
}

@media (max-width: 768px) {
  /* TODO: MOBILE is OFF (for now) */
  .container {
    display: none;
  }

  .content {
    flex-direction: column;
  }

  .side {
    flex-direction: column;
    flex-basis: 20%;
  }

  .bento {
    flex-basis: 80%;
  }

  .actionButtons {
    flex-basis: 50%;
    display: flex;
    flex-direction: row;
    overflow: scroll;
    width: 100%;
    gap: 5px;
    padding: 15px 5px;
  }

  .actionContainer {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 15px 5px;
  }
}
