.container {
  width: 180px;
  height: 40px;
  display: flex;
  align-items: center;
  background-color: white;

  border: 2.5px solid black;
  border-radius: 100px;

  transition: transform 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.container:hover {
  cursor: pointer;
  background-color: #ffffff40;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(50px);

  /* animate upward slightly ease */
  transform: translateY(-1px);
}

.iconContainer {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2.5px solid black;
  margin-left: -2px;
  position: relative;
}

.iconContainer svg {
  position: absolute;
  margin: 5px;
}

.text {
  margin-left: 10px;
}

@media (max-width: 768px) {
  .container {
    width: calc(180px * 0.8);
    height: calc(40px * 0.8);
  }

  .iconContainer {
    width: calc(40px * 0.8);
    height: calc(40px * 0.8);
  }

  .text {
    margin-left: 5px;
  }
}

@media (max-width: 640px) {
  .container {
    width: calc(180px * 0.7);
    height: calc(40px * 0.7);
  }

  .iconContainer {
    width: calc(40px * 0.7);
    height: calc(40px * 0.7);
  }

  .text {
    margin-left: 3px;
  }
}
