.container {
  width: 180px;
  height: 40px;
  display: flex;
  align-items: center;
  background-color: white;

  border: 2.5px solid black;
  border-radius: 100px;

  transition: transform 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.container:hover {
  cursor: pointer;
  background-color: #ffffff40;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(50px);

  /* animate upward slightly ease */
  transform: translateY(-1px);
}

.iconContainer {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2.5px solid black;
  margin-left: -2px;
  position: relative;
}

.iconContainer svg {
  position: absolute;
  margin: 5px;
}

.text {
  margin-left: 10px;
  font-weight: 700;
  font-size: 1rem;
}
