.container {
  position: relative;
  width: 100%;
  aspect-ratio: 1;

  border: 3px solid black;
  border-radius: 30px;
  padding: 15px 12px;

  background: linear-gradient(45deg, #9cedff 0%, #ffc0ed 65.1%, #fff8bc 100%);
  box-shadow: 50px 50px 40px 10px rgba(0, 0, 0, 0.25);
}
