.container {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  justify-content: center;
  background-color: #d9d9d9;
  border-radius: 100px;
}

.textContainer {
  border: 2.5px solid black;
  border-radius: inherit;

  width: 220px;
  height: 40px;

  display: grid;
  grid-template-columns: 1fr 40px 1fr;
  align-items: center;
}

.textContainer > div {
  margin: 0 auto;
  font-weight: 700;
  font-size: 1rem;
}

.circularContainer {
  position: absolute;
  border-radius: 50%;
  border: 2.5px solid black;
  width: 40px;
  height: 40px;
}

.circularContainer > svg {
  margin: 5px;
}

.circularOverlay {
  position: absolute;
  border: 2.5px solid black;
  width: calc(50% + 20px);
  height: 40px;
  border-radius: 100px;
  z-index: -1;
  transition: left 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.container:hover {
  cursor: pointer;
}
